# Ignora dependências
node_modules/

# Ignora pastas de build/output
dist/
.cache/
.parcel-cache/


# Ignora variáveis de ambiente
.env

# SUGESTÕES EXTRAS (opcional)
.DS_Store          # se estiver usando Mac
*.log              # arquivos de log
*.local            # config locais

# Ignora arquivos do editor (VSCode, etc.)
.vscode/
.idea/
